certifi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
FundamentalAnalysis==0.2.2
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
matplotlib
numpy
pandas
python-dateutil
pytz
requests
retrying
six
urllib3
Werkzeug
scikit-learn